

.body{
    font-family: 'Kanit', sans-serif;
    font-family: 'Poppins', sans-serif;
} 
.header-container{
    background-image: url(../image/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.header-container{
    height:900px;
}
.header-title{
    color:white;
    text-align: center;
    font-size:large;
    padding-top: 200px; 
    
}
.header-text{
    font-size: 50px;
    padding-top: 0px;
}

.holiday{
   text-align: center;
   padding-top: 0px;
   margin-top: 0px;
}
.holiday-img img {
  height: 200px;
}
.Offer{
    color: red;
    font-size: 40px;
}
.holiday-deal{
    color: rgb(186, 20, 20);
}
#Categories{
    font-size:x-large;
}
.midnight-party{
    background-image: url(../image/Vectorrr.png);
    background-repeat: no-repeat;
    display: flex;
    background-size: 100%;
    height: 700px;
    
}
.midnight-img{
    padding: 100px;
}
.btn{
    color:white;
    background-color:red;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: 0px;
}
.party-text{
    color: white;
    padding: 220px 150px ;
    
}
.new-park{
    background-color: rgb(247, 249, 249);
    height: 300px;
    border-radius: 10px;
    text-align: center;
    padding-top: 100px;
    margin-top: 20px;
}
.new-park-text{
    color: red;
}
.new-best-offer{
    padding-left: 70px;
}
.best-offer{
    display: flex;
}
.best-offer-img img{
    padding:20px;
    height: 200px;
}
.best-offer-img{
   
    border: 10px solid red;
    border-radius:200px;
    margin: 20px 70px 20px 70px;
}
.function-holiday{
    text-align: center;
}
.holiday-sale-img{
    background-image: url(../image/Rectangle\ 1.png);
   
    background-repeat: no-repeat;
    /* background-position: right; */
}
.holiday-sale-img img{
    
}
.img-holiday-position{
    display: flex;
}
.holiday-sale-red-img{
    background-image: url(../image/Rectangle\ 2.png);
   
    background-repeat: no-repeat;
    background-position: right;
    
    padding-left: 50px;
}
.Awesome-part{
    padding-left: 10px;
}
.new-park-image img{
padding: 10px;
}
.news-letter{
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
}
#input{
    border-radius: 20px 0px 0px 20px;
    height: 25px;
    border: none;
    background-color:white;
}
#input-btn{
    border-radius:0 20px 20px 0px;
    border: none;
}
.footer{
    height: 300px;
    display: flex;
    color: white;
    background-color: black
}
.footer-street{
    padding-left: 50px;
    margin-left: 30px;
}
.footer-img{
    padding-left: 250px;
    padding-top: 100px;
}
.footer-end{
    padding-left: 500px;
}
.web{
    padding-bottom: 120px;
}
.big{
    padding-bottom: 120px;
}